<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cosita</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <section id="app">
      <div v-if="activarLluvia">
        <div
          class="text-center"
          style="
            justify-content: center;
            align-items: center;
            margin-top: 10rem;
          "
        >
          <img src="img/feliz.webp" alt="Cosita" width="100vh" />
          <h2
            class="text-white text-center"
            style="font-family: 'Protest Riot', sans-serif; margin-top: 1rem"
          >
            TE AM❤️ <br />
            Meu am❤️r
          </h2>
        </div>
        <div class="rain-container"></div>
      </div>
      <div class="modal" id="modalConfirmar">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="text-center">
              <img
                src="img/interrogante.png"
                alt="Cosita"
                style="position: relative"
                width="50%"
              />
            </div>
            <div v-if="mensaje==true">
              <div class="modal-body text-center">
                <h3>
                  ¿Cosita, aceptarías ser mi compañera por el día de San
                  Valentín?
                </h3>
              </div>
              <div class="modal-footer justify-content-center gap-3">
                <button @click="confirma()" class="btn-red btn-lg">
                  Si, mi amor!
                </button>
                <button v-if="sms" @click="loSiento()" class="btn-gris btn-lg">
                  {{sms}}
                </button>
                <button
                  v-if="sms1"
                  @click="loSiento1()"
                  class="btn-gris btn-lg"
                >
                  {{sms1}}
                </button>
                <button
                  v-if="sms2"
                  @click="loSiento2()"
                  class="btn-gris btn-lg"
                >
                  {{sms2}}
                </button>
                <button
                  v-if="sms3"
                  @click="loSiento3()"
                  class="btn-gris btn-lg"
                >
                  {{sms3}}
                </button>
                <button
                  v-if="sms4"
                  @click="loSiento4()"
                  class="btn-gris btn-lg"
                >
                  {{sms4}}
                </button>
                <button disabled="" v-if="sms5" class="btn-gris btn-lg">
                  {{sms5}}
                </button>
              </div>
            </div>
            <div v-else>
              <div class="modal-body text-center">
                <span style="font-size: 80px">😔</span>
                <h4>
                  Porque amor, si eres la persona maravillosa que siempre
                  imaginé y considero un privilegio tenerte a mi lado.
                </h4>
                <p>
                  <small
                    >¿Qué puedo hacer para que seas la mujer más feliz de
                    mundo?</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="js/lluvia.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/main.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
</html>
